<% if novels.present? %>
  <% novels.each do |novel| %>
    <% if novel.id == novel.parent_id %>
      <div class="novel-border media-body show mt-4 pr-4">
        <a href="<%= novel_path(novel) %>" class="linkbox">
          <p class="display title" style="color:#494949;">『<%= novel.title %>』</p>
          <p class="secrethover pt-2 mb-0"><i class="fas fa-mouse-pointer"></i>　ストーリーの詳細を確認する</p>
          <div class="form-color mt-3 secret">
            <p class='font font-weight-bold pre-wrap hover secret' style='font-size:20px; margin:0;'><%= novel.outline.truncate(100) %></p>
            <div class="pv-fav-foot-time mt-2 hover secret font-weight-bold">
              <p class=" icon-float mr-2"><i class="fas fa-shoe-prints icon"></i><%=  novel.impressionist_count %></p>
              <% unless novel.parent_id != novel.grandparent_id && novel.fin != 0 %>
                <p class=" icon-float mr-2"><i class="fas fa-pen-nib icon"></i><%= nextcount(novel) %></p>
              <% end %>
              <p class="count icon-float mr-2"><i class="fas fa-comment icon"></i><%= novel.comments.count %></p>
              <p class="count icon-float mr-3"><i class="fas fa-heart icon"></i><%= novel.favorites.count %></p>
              <span style="font-size: 15px;"><%= time_ago_in_words(novel.created_at) %>前</span>
            </div>
          </div>
        </a>
        <div class="mr-4 mb-1" style="width:100%;"><%= render 'favorites/favorite_button', posted: novel %></div>
        <% if current_user == novel.user %>
          <%= link_to "削除する", novel, method: :delete, data: {confirm: "本当に削除しますか？" }, class: 'btn btn-sm col-md-4 delete-button mr-0' %>
        <% end %>
      </div>
    <% end %>
  <% end %>  
<% end %>