<div class="text-center" style="width:100%;">
  <h3 class="ribbon1">サイト紹介</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 balloon5 text-center">
      <div class="faceicon">
        <img src="<%= asset_path "tori.jpg" %>" class="ml-5">
      </div>
      <div class="chatting">
        <div class="says mr-5" style="margin-left:150px;">
          <p style="font-weight:bold; font-size:16px;">RelayNovelは「イチから無限のストーリーが生まれる場所」をコンセプトにした、リレー小説投稿サイトだよ！<br>詳しくは以下を確認してね！</p>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <div class="side col-lg-3">
      <h2 style="color: #494949;">RelayNovelについて</h2>
      <a href="<%= novels_about_path %>" class="mb-1 display index-search <%= 'active-tag' if current_page?(novels_about_path) %>"><i class="fas fa-desktop icon"></i>サイト紹介</a>
      <a href="<%= novels_qanda_path %>" class="mb-1 display index-search <%= 'active-tag' if current_page?(novels_qanda_path) %>"><i class="far fa-comments icon"></i>Q & A</a>
      <% if current_user.present? %>
        <a href="<%= form_path %>" class="mb-1 display index-search <%= 'active-tag' if current_page?(form_path) %>"><i class="far fa-envelope icon"></i>お問い合わせ</a>
      <% end %>
      <h2 style="color: #494949;">ストーリーを探す</h2>
      <a href="<%= root_path %>" class="mb-1 display index-search <%= 'active-tag' if current_page?(root_path) %>"><i class="fas fa-dove icon"></i>完結済みストーリー</a>
      <a href="<%= novels_unfinished_path %>" class="display index-search <%= 'active-tag' if current_page?(novels_unfinished_path) %>"><i class="fas fa-egg icon"></i>未完ストーリー</a>
      <a href="<%= novels_ranking_path %>" class="mt-1 display index-search <%= 'active-tag' if current_page?(novels_ranking_path) %> <%= 'active-tag' if current_page?(novels_ranking_relay_path) %>"><i class="fas fa-crown icon"></i>いいねランキング</a>
      <% if current_user.present? %>
        <a href="<%= novels_following_novels_path %>" class="mt-1 display index-search <%= 'active-tag' if current_page?(novels_following_novels_path) %> <%= 'active-tag' if current_page?(novels_following_relay_path) %>"><i class="fas fa-user-friends icon"></i>タイムライン</a>
      <% end %>
    </div>

    
    <div class="side col-lg-9">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color: #494949;">オリジナルストーリーを書く</h2>
            <p>
            投稿フォームはシンプルでわかりやすく、１ステップで執筆・公開までできます。
            ストーリーの結末が思いつかなくても構いません。続きのストーリーはあなたのバトンを受け取った誰かが書いてくれるので、思いついたままにストーリーを書いてみましょう。
            </p>
            <a href="#about-one"><i class="fas fa-chevron-down icon"></i>詳しく</a>
          </div>
          <div class="col-lg-6">
            <h2 style="color: #494949;">誰かが書いたストーリーの続きを書く</h2>
            <p>
            RelayNovelでは、ストーリーは起承転結の4段階で構成されていて、段階ごとに書き手が変わっていきます。
            もし、「起」が書かれたストーリーを見つけたら、あなたはその続きである「承」を書くことができます。
            「転」はまた別のユーザーが書いてくれるでしょう。
            そうして、みんなでストーリーの「結」を目指しましょう。<br>
            なお、ストーリーのバトンは一つとは限りません。
            あなたの他にも「承」を書く人がいるかもしれません。
            そのようにストーリーの展開を思いつく人が複数いれば、その分ストーリーは分岐していきます。
            </p>
            <a href="#about-two"><i class="fas fa-chevron-down icon"></i>詳しく</a>
          </div>
          <div class="col-lg-6">
            <h2 style="color: #494949;">ストーリーを読む</h2>
            <p>
            ユーザーは、ストーリーの執筆に参加していなくても、
            読者としてたくさんのストーリーを楽しむことができます。
            起承転結ごとにストーリーが分岐していく様には、ただ読むだけではない楽しさがあるはずです。
            </p>
            <a href="#about-three"><i class="fas fa-chevron-down icon"></i>詳しく</a>
          </div>
          <div class="col-lg-6">
            <h2 style="color: #494949;">著者を応援する</h2>
            <p>
            RelayNovelには、ストーリーのレビュー投稿機能やお気に入り機能、Twitter共有機能、ユーザーフォロー機能など様々な機能が搭載されています。
            上記の機能を活かして、面白かった作品や気になるユーザーを応援していきましょう。
            </p>
            <a href="#about-four"><i class="fas fa-chevron-down icon"></i>詳しく</a>
          </div>
        </div>
      </div>
      
      <div class="details">
        <div class="aboutback">
          <h3 id="about-one"><span style="background-color:#ffa8a8;">創</span>る</h3>
          <p style="margin-top:30px;">
            一人で一つのストーリーを最初から最後まで書き切るのはとても大変です。<br>
            そこでRelayNovelでは、起承転結でいう「起」の部分だけを書けばいいように設計しています。<br>
            「ストーリーを創りたい」と思ったら、すぐに執筆を開始しましょう。<br>
            もちろん、自分で完結までのストーリーを書くこともできます。<br>
          </p>
          <h4 class="aboutoutline" style="border-left: 5px solid #ffa8a8;">アカウント登録で、すぐに書ける</h4>
          <div>
            <p>
              アカウント登録(無料)をしたら、「新規ストーリー作成」から執筆を開始できます。
              タイトル、あらすじ、ストーリー本文を書いたらすぐに公開しましょう。
            </p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= signup_path %>">アカウント登録</a></p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= new_novel_path %>">新規ストーリー作成</a></p>
          </div>
        </div>
        
        <div class="aboutback">
          <h3 id="about-two"><span style="background-color:#a8ffd3;">繋</span>ぐ</h3>
          <p style="margin-top:30px;">
            RelayNovelでは、リレーのように誰かが書いたストーリーの続きを書くことができます。<br>
            一般的なリレー小説と違うのは、ストーリーに分岐性があるということです。<br>
            ストーリー分岐は展開を思いつくユーザーの数だけ存在し、結末もまた無数に存在します。<br>
            そのため、一度のリレーでストーリーの方向性が決まることはありえません。<br>
            このように、RelayNovelには安心して失敗できる環境があるので、積極的にリレーに参加してみましょう。<br>
          </p>
          <h4 class="aboutoutline" style="border-left: 5px solid #a8ffd3;">気になるストーリーを探してバトンを受け取る</h4>
          <div>
            <p>
              「完結済みストーリー」、「未完ストーリー」等から
              気になるストーリーを探してバトンを受け取ってみましょう。
              すでに誰かが続きを書いていたり、完結していたりするかもしれませんが、
              構わず「自分ならこうする」というストーリーを書いてみましょう。
              
            </p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= root_path %>">完結済みストーリー</a></p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= novels_unfinished_path %>">未完ストーリー</a></p>
          </div>
        </div>
        
        <div class="aboutback">
          <h3 id="about-three"><span style="background-color:#ffffa8;">読</span>む</h3>
          <p style="margin-top:30px;">
            RelayNovelの最も大きな特徴は「ストーリーが分岐する」ということです。<br>
            完結しているストーリーを一度読破したとしても、時間を置いて再びページを開くと新しい展開が生まれていることがあります。<br>
            そのため、投稿されたストーリーは何度でも楽しむことができます。<br>
          </p>
          <h4 class="aboutoutline" style="border-left: 5px solid #ffffa8;">いいねランキングを活用する</h4>
          <div>
            <p>
              「いいねランキング」には他のユーザーがお気に入り登録している作品が掲載されています。面白い作品があればお気に入り登録をして著者を応援しましょう。
            </p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= novels_ranking_path %>">いいねランキング</a></p>
          </div>
        </div>
        <div class="aboutback">
          <h3 id="about-four"><span style="background-color:#a8d3ff;">推</span>す</h3>
          <p style="margin-top:30px;">
            RelayNovelでは、書けるのはストーリーだけではありません。<br>
            お気に入りのストーリーを見つけたら、ストーリーページからレビューを書いてみましょう。<br>
            きっと著者の励みになるはずです。<br>
            投稿したレビューはストーリーページだけでなく、「完結済みストーリー」や「未完ストーリー」、「いいねランキング」等の一覧表示でも表示されます。<br>
            レビューからストーリーに興味を持つユーザーもいるので、読んだストーリーには積極的にレビューをしていきましょう。<br>
            また、Twitterをご利用の場合は、ストーリーページから共有機能を使って宣伝することができます。<br>
          </p>
          <h4 class="aboutoutline" style="border-left: 5px solid #a8d3ff;">お気に入り作品を守る</h4>
          <div>
            <p>
             ストーリーを閲覧していると、レビューの中に著者を誹謗中傷するものや、内容がストーリーとは関係ないもの、その他適切ではない表現のものを見つけるかもしれません。
             そのようなときは、お気に入り作品を守るためにも、お問い合わせフォームからご連絡をいただきますようお願い致します。
            </p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= form_path %>">お問い合わせ</a></p>
            <p><i class="fas fa-arrow-circle-right icon"></i><a href="<%= novels_guideline_path %>">ガイドライン</a></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>