<h1 class="heading" style="border-bottom:5px solid #a8d3ff;">結　<span>出来事の終わりとストーリーの終幕</span></h1>

<div class="showdesign mt-3">
  <p class="one"><%= @novel.title %></p>
  <p class="two">リレー著者：<%= link_to @novel.user.name, user_path(@novel.user), style: 'color:gray;' %></p>
  <% if @novel.id == @novel.parent_id %>
    <div class="box mb-4 mt-4">
      <h3><span style="font-size:17px;">あらすじ</span></h3>
      <div class="inner" style="padding: 0 80px;">
        <p class="three pre-wrap" style="text-align:left;"><%= @novel.outline %></p>
      </div>
    </div>
  <% end %>
  <h2 class="honbun"><span style="font-size:17px;">本文</span></h2>
    <div style="padding: 0 80px;"><p class="four pre-wrap" style="text-align:left;"><%= @novel.content %></p></div>
  <h2 class="honbun"><span style="font-size:17px;">以下のフォームでは、このストーリーをリレーし、完結させてください</span></h2>
</div>

<%= form_with(model: Novel.new(title: @novel.title, outline: @novel.outline), local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <div class="form-group mt-3">
    <%= f.label :content, 'ストーリー本文', class:'form-color' %><span class="ml-1 attention">*</span>
    <%= f.text_area :content, rows: "10", class:'form-control', id: "input-text", placeholder: '50～20,000文字の間で入力してください' %>
    <p id="counter" class="jcount jscount mt-1 text-right font-weight-bold">現在 0 文字</p>
  </div>
  <%= f.hidden_field :title, :value => @novel.title %>
  <%= f.hidden_field :outline, :value => @novel.outline %>
  <%= f.hidden_field :parent_id, :value => @novel.id %>
  <%= f.hidden_field :grandparent_id, :value => @novel.grandparent_id %>
  
  <div class="cautionbox pb-2">
  <div class="cautionbox-title"><i class="fas fa-exclamation-triangle icon"></i>Attention</div>
    <ul>
      <li class="font-weight-bold" style="color:gray; list-style-type: disc;">フォーム欄の高さは右下のつまみで調節できます。</li>
      <li class="font-weight-bold" style="color:gray; list-style-type: disc;">入力に不備があると投稿を受け付けることができず、入力された内容がリセットされてしまいます。</li>
      <li class="font-weight-bold" style="color:gray; list-style-type: disc;">作成された内容を後から編集することはできません。十分にご注意ください。</li>
      <li class="font-weight-bold" style="color:gray; list-style-type: disc;">この投稿フォームではストーリーを完結させてください。以上の内容で良ければチェックをつけてストーリーの幕を下ろしてください。</li>
      <li class="text-center"  class="font-weight-bold" style="color:gray;">
        <%= f.check_box :fin, {required: true} %>
        <%= f.label :fin, 'このストーリーを終わらせる', class:"font-weight-bold mt-2 mb-0", style:"color:gray;" %>
    </ul>
  </div>
  <%= f.submit '完結させる', class: 'btn yes-button btn-block' %>
<% end %>